.container{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Sarabun", sans-serif;
}
.image{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    z-index: 20;
    box-shadow: 10px 10px 53px 0px rgba(0, 0, 0, 0.49);
}
.pic-wrapper{
    position: relative;
    width: 400px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    box-shadow: 10px 10px 53px 0px rgba(0, 0, 0, 0.49); 
}
.pic-wrapper:hover.image{
    filter: blur(1.4px);
    transform: scale(1.5);
    overflow: hidden;
    transition: all 0.3s linear;
    box-shadow: inset -6px -1px 32px 0px rgba(0, 0, 0, 0.75);
}
.pic-wrapper:hover .pic-bottom{
    transform: translate(0%, -50%);
    transition: all 0.8s ease;
    background-color: rgba(110, 122, 92, 0.7);
}
.pic-top{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    }
.pic-bottom{
    width: 100%;
    position: absolute;
    z-index: 20;
    display: auto;
    top: 50%;
    background-color: rgba(110, 122, 92, 0);
    padding: 100px 20px;
    color: #fff;
    transform: translate(100%, -50%);
}
.top-text{
    font-size: 25px;
    line-height: 40px;
    font-weight: bold;
    letter-spacing: 1px;
}
.bottom-text{
    font-size: 15px;
}
.button{
    position: relative;
    display: block;
    outline: none;
    cursor: pointer;
    margin-top: 25%;
    border: none;
    border-radius: 3px;
    background-color: #f8961e;
    color: #fff;
    padding: 5px 20px;
}

